.hello-welcome-wrapper{
    width: 100%;
    height: auto;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.greeting h1{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: var(--default-text);
}

.greeting p{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: var(--default-text);
}