@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
    --background:#1E1E1E;
    --content-background: #222222;
    --nav-font: #4D4D4D;
    --input-background:#1E1E1E;
    --navbar-height: 65px;
    --xeggo-gradient:linear-gradient(96.2deg, #FF512F 0%, #DD2476 100%);
    --navbar-gradient: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
    --border-color: #4D4D4D;
    --sidebar-width: 200px;
    --modal-background: #24292E66;
    --modal-input-background: #1E1E1E;
    --modal-content-background: #1E1E1E;
    --modal-input-border:#4D4D4D;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0 auto;
    max-width: 1440px;
    background: var(--background);
    font-family: 'Poppins', sans-serif;
}

.body-container{
    width: 100%;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

input {
    background: var(--input-background);
}

.body-container {
    width: calc(100% - var(--sidebar-width));
    margin-top:var(--navbar-height);
    margin-left: var(--sidebar-width);
    padding: 30px;
}

.xeggo-button{
    background: var(--xeggo-gradient);
    padding: 15px 35px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.page-title {
    display: block;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
}

.page-subtitle {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #BABABA;
    margin: 15px 0 30px 0;
}

.page-content {
    background: var(--content-background);
    border-radius: 10px;
    padding: 50px;
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 400px;
    margin: 0 auto;
}

.form-container label{
    font-size: 14px;
}

.form-container input{
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
}

.invoice-details{
    list-style-type: none;
}

.invoice-details li{
    margin:10px;
}

.pointer {
    cursor: pointer;
}

.text-center{
    text-align: center;
}

.text-end {
    text-align: end;
}

.flex{
    display: flex;
}

.inline-flex{
    display: inline-flex;
}

.flex-col{
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.gap-5{
    gap: 5px;
}

.gap-10{
    gap:10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.pr-10{
    padding-right: 30px;
}

.center{
    align-items: center;
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.body-container{
    overflow-x: auto;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.font-20 {
    font-size: 20px;
}

.font-14 {
    font-size: 14px;
}

.line-21 {
    line-height: 21px;
}

.line-30{
    line-height: 30px;
}

.weight-500 {
    font-weight: 500;
}
.weight-600 {
    font-weight: 600;
}

.mb-5{
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}


.display-flex-column{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.display-flex-row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.display-flex-row-center{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.w-h{
	width: 100%;
	height: auto;
}

.w-full{
    width: 100%
}
