@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
    --background:#1E1E1E;
    --content-background: #222222;
    --nav-font:#4B4B4B;
    --input-background:#1E1E1E;
    --input-text:#FAFAFA;
    --navbar-height: 65px;
    --xeggo-gradient:linear-gradient(96.2deg, #FF512F 0%, #DD2476 100%);
    --navbar-gradient: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
    --border-color: #4D4D4D;
    --sidebar-width: 200px;
    --modal-background: #24292E66;
    --modal-input-background: #1E1E1E;
    --modal-content-background: #1E1E1E;
    --modal-input-border:#4D4D4D;
    --subtitle-text:#BABABA;
    --default-text:#FFFFFF;
    --secondary-text:#FAFAFA;
    --xeggo-orange:#FF512F;
    --xeggo-purple:#DD2476;
    --light-dark: #BABABA;
    --nav-link-text:#858585;
    --notification-background: #24292E;
    --overview-text-color: #858585;
    --metric-background:#50312e;
}


.light-mode {
    --background:#FFFFFF;
    --content-background: #FAFAFA;
    --nav-font: #BABABA;
    --input-background:#E3E3E380;
    --input-text:#1E1E1E;
    --navbar-height: 65px;
    --xeggo-gradient:linear-gradient(96.2deg, #FF512F 0%, #DD2476 100%);
    --navbar-gradient: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
    --border-color: #DCDCDC;
    --sidebar-width: 200px;
    --modal-background: #BABABA66;
    --modal-input-background: #1E1E1E;
    --modal-content-background: #FAFAFA;
    --modal-input-border:#4D4D4D;
    --subtitle-text:#BABABA;
    --default-text:#000000;
    --secondary-text:#1E1E1E;
    --xeggo-orange:#FF512F;
    --xeggo-purple:#DD2476;
    --light-dark: #BABABA;
    --nav-link-text:#858585;
    --notification-background: #24292E;
    --overview-text-color: #858585;
    --metric-background: #ff522f2f;
}


*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    color: var(--default-text);
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0 auto;
    max-width: 1440px;
    background: var(--background);
    font-family: 'Poppins', sans-serif;
    transition: all 0.25s cubic-bezier(0.075, 0.1, 0.165, 1);
}

.body-container{
    width: 100%;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

input {
    background: var(--input-background);
}

.body-container {
    width: calc(100% - var(--sidebar-width));
    margin-top:var(--navbar-height);
    margin-left: var(--sidebar-width);
    padding: 30px 30px 30px 40px;
}

.xeggo-button{
    background: var(--xeggo-gradient);
    padding: 15px 35px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #FFFFFF;
}

.page-title {
    display: block;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
}

.page-subtitle {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color:var(--subtitle-text);
    margin: 15px 0 30px 0;
}

.page-content {
    background: var(--content-background);
    border-radius: 10px;
    padding: 50px;
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 400px;
    margin: 0 auto;
}

.form-container label{
    font-size: 14px;
}

.form-container input{
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
}

.invoice-details{
    list-style-type: none;
}

.invoice-details li{
    margin:10px;
}

.pointer {
    cursor: pointer;
}

.text-center{
    text-align: center;
}

.text-end {
    text-align: end;
}

.flex{
    display: flex;
}

.inline-flex{
    display: inline-flex;
}

.inline-block{
    display: inline-block;
}

.flex-col{
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.gap-5{
    gap: 5px;
}

.gap-10{
    gap:10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.pr-10{
    padding-right: 30px;
}

.center{
    align-items: center;
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.body-container{
    overflow-x: auto;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.font-24 {
    font-size: 24px;
}

.font-20 {
    font-size: 20px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-12 {
    font-size: 12px;
}

.font-10 {
    font-size:10px;
}


.line-18{
    line-height: 18px;
}

.line-21 {
    line-height: 21px;
}

.line-30{
    line-height: 30px;
}

.line-36 {
    line-height: 36px;
}

.line-15{
    line-height: 15px;
}

.weight-500 {
    font-weight: 500;
}
.weight-600 {
    font-weight: 600;
}

.mb-5{
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-50 {
    margin-bottom: 50px;
}

.mx-auto {
    margin: 0 auto;
}

.display-flex-column{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.display-flex-row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.display-flex-row-center{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.w-h{
	width: 100%;
	height: auto;
}

.w-full{
    width: 100%
}


.underline {
    text-decoration: underline;
}

.gradient-text{
    background: -webkit-linear-gradient(var(--xeggo-orange), var(--xeggo-purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flex-end{
    justify-self: flex-end;
}

.ml-auto{
    margin-left: auto;
}

input{
    color:var(--input-text);
}